body {
    font-size: 16px/1.4;
}

@media screen and (max-width: 500px){
    body{
       font-size: 12px;
    }
}

section {
    text-align: center;
}

#timer {
    background-color: #d14836;
    margin-bottom: 3%;
}

#remaining_time {
    font-size: 3.25em;
}

#start_button {
    background-color: black;
    border: none;
    color: white;
    font-size: 1.15em;
    margin: 0;
    padding: 1%;
    width: 100%;
}

.tasks {
    margin: auto;
    text-align: center;
    width: 90%;
}

/* New Task Form */

#new_task input {
    font-size: 1.5em;
    height: 30px;
    margin-bottom: 2%;
    padding: 1% 4%;
    width: 90%;
}

/* Task List */

#task_list {
    list-style-type: none;
    margin: auto;
    width: 98%;
}

/* Task List Item */

#task_list li {
    border-top: 1px dotted #ccc;
    font-size: 1.5em;
    padding: 2% 4%;
    text-align: left;
    display: block;
}

#task_list li:hover {
    font-size: 1.6em;
    background-color: #f2f2f2;
}

#task_list li:last-child {
    border-bottom: 1px dotted #ccc;
}

#task_list li a {
    cursor: pointer;
    float: right;
    margin-left: 3%;
}

li a.remove {
    color: red;
}

li a.finish {
    color: green;
}

#task_list li p{
    width: 80%;
    display: block;
    float: left;
}

/* Clearfix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
